<span class="text_button_padding"> or </span>
<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name) , :class=>"text_button_padding link_button" %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) , :class=>"text_button_padding link_button" %><br />
<% end -%>